
<button (click)="openModal()">Open Modal</button>
{{affenRonk}}


<button (click)="waitForPromise()">Wait for promise</button>
<button (click)="waitForCanvasPromise()">Wait for waitForCanvasPromise</button>
<button (click)="doubleCanvasSize()">Double Canvas Size</button>


<app-modal-component [apa]="doSomeStuff" [message]="myMessage" (closeModal)="handleModalClose()" [isOpen]="isModalOpen"></app-modal-component>

<button (click)="openCanvas()">Show Canvas</button>
<button (click)="hideCanvas()">Hide Canvas</button>
<div *ngIf="showCanvas">
    <canvas #myCanvas></canvas>
</div>